@media (min-width: 1024px) {
    // A PROPOS
    .apropos {

        .container {

            .divInfos {

                .profilTexte {
                    max-width: 700px;
                }
            }
        }
    }

    // CONTACT
    .contact {
        padding-bottom: 120px;

        .container {

            .divForm {
                width: 60%;
            }
        }

        .contactLien {
            height: 150px;
            bottom: -75px;
        }
    }
}