@media (min-width: 768px) {
    // MENU
    nav {
        height: 100px;
        flex-direction: row;
        padding: 0;
        border: none;
        box-shadow: none;
        background-color: $background;

        .divOne {
            width: 70%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 30px;
            padding: 0 30px;
        }

        .divTwo {
            width: 30%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-top: 0px;
            padding: 0 30px;
        }
    }

    // A PROPOS
    .apropos {

        .container {

            .divInfos {
                flex-direction: row;
                justify-content: space-around;

                .profilTexte {
                    max-width: 400px;

                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    // TRAVAUX
    .travaux {
        width: 100%;
        padding: 35px;
        
        .container {
            width: 100%;

            .divFiltre {
                width: 100%;
                display: flex;
                flex-wrap: nowrap;

                div {

                    &:first-child {
                        width: 80%;
                    }

                    &:last-child {
                        width: 20%;
                        align-items: flex-start;
                    }
                }
            }
        }
    }

    // CONTACT
    .contact {
        padding-bottom: 120px;

        .container {

            .divForm {
                width: 80%;
            }
        }

        .contactLien {
            height: 150px;
            bottom: -75px;
        }
    }
}