@media (min-width: 768px) {
    // MENU
    nav {
        height: 100px;
        flex-direction: row;
        padding: 0;
        border: none;
        box-shadow: none;
        background-color: $background;

        .divOne {
            width: 70%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 30px;
            padding: 0 30px;
        }

        .divTwo {
            width: 30%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-top: 0px;
            padding: 0 30px;
        }
    }
}