@media (min-width: 640px) {
    // BODY
    body {
        margin-bottom: 150px;
    }

    // CONTACT
    .contact {

        .contactLien {
            height: 200px;
            bottom: -100px;
        }
    }
}