// *** FONTS *** //
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rampart+One&display=swap');

// *** COLORS *** //
$text : #1b0303;
$background: #fcf4e7;

$primary : #60c2c1;
$secondary : #f3be79;
$accent : #f1c856;