@media (min-width: 0) {
    // BODY
    * {
        box-sizing: border-box;
        color: $text;
        font-family: "Nunito Sans", sans-serif;
        scroll-behavior: smooth;
    }

    body {
        margin: 0 auto;
        margin-bottom: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $background;

        --sb-track-color: $background;
        --sb-thumb-color: #000000;
        --sb-size: 5px;
    }
    
    body::-webkit-scrollbar {
        width: var(--sb-size)
    }
    
    body::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 10px;
    }
    
    body::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 10px;
        
    }
    
    @supports not selector(::-webkit-scrollbar) {
        body {
        scrollbar-color: var(--sb-thumb-color)
                        var(--sb-track-color);
        }
    }

    // ASSETS
    .navBtn {
        width: 150px;
        height: 35px;
        background-color: white;
        border-radius: 50px;

        border: 1px solid black;
        box-shadow: 2px 2px 0 2px rgba(0,0,0,1);
        -webkit-box-shadow: 2px 2px 0 2px rgba(0,0,0,1);
        -moz-box-shadow: 2px 2px 0 2px rgba(0,0,0,1);

        a {
            text-decoration: none;
            font-weight: 700;
            font-size: 14px;
        }

        &:hover {
            cursor: pointer;
            background-color: $primary;
        }
    }

    .navBtnActive {
        background-color: $primary;
    }

    .navResponsive {
        width: 90%;
    }

    .filtreBtn {
        width: 150px;
        height: 35px;
        background-color: white;
        border-radius: 50px;

        border: 1px solid black;
        box-shadow: 2px 2px 0 2px rgba(0,0,0,1);
        -webkit-box-shadow: 2px 2px 0 2px rgba(0,0,0,1);
        -moz-box-shadow: 2px 2px 0 2px rgba(0,0,0,1);

        text-decoration: none;
        font-weight: 700;
        font-size: 14px;

        &:hover {
            cursor: pointer;
            background-color: $secondary;
        }
    }

    .filtreBtnActive {
        background-color: $secondary;
    }

    .lienTravaux, .lienAccordeon {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 50px;

        border: 1px solid black;
        box-shadow: 1px 1px 0 1px rgba(0,0,0,1);
        -webkit-box-shadow: 1px 1px 0 1px rgba(0,0,0,1);
        -moz-box-shadow: 1px 1px 0 1px rgba(0,0,0,1);

        img {
            object-fit: contain;
            width: 70%;
            height: 70%;
            transition: all 0.2s ease;
        }

        &:hover {
            cursor: pointer;
            background-color: $secondary;
        }
    }

    .lienTravauxActive {
        background-color: $secondary;
    }

    .categorieBtn {
        min-width: 100px;
        height: 25px;
        background-color: $accent;
        border-radius: 50px;

        border: 1px solid black;
        box-shadow: 1px 1px 0 1px rgba(0,0,0,1);
        -webkit-box-shadow: 1px 1px 0 1px rgba(0,0,0,1);
        -moz-box-shadow: 1px 1px 0 1px rgba(0,0,0,1);

        font-weight: 700;
        font-size: 12px;
    }

    .cardTravauxLien {
        height: 465px;
        display: flex;
        text-decoration: none;

        .cardTravaux {
            width: 560px;
            height: 465px;
            border-radius: 50px;
            position: relative;
    
            border: 1px solid black;
            box-shadow: 2px 2px 0 2px rgba(0,0,0,1);
            -webkit-box-shadow: 2px 2px 0 2px rgba(0,0,0,1);
            -moz-box-shadow: 2px 2px 0 2px rgba(0,0,0,1);

            .divOne {
                height: 385px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                border-radius: 50px;
                padding: 35px 50px;
            }

            .divTwo {
                height: 80px;
                width: 100%;
                display: flex;
                border-radius: 50px;
                padding: 0px 35px;
                gap: 15px;
            }

            .imgTravaux {
                object-fit: cover;
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 50px;
                z-index: -1;
            }
        }

        &:hover {
            .cardTravaux {

                .divOne {

                    .lienTravaux {
                        background-color: $secondary;

                        img {
                            transform: rotate(-45deg);
                            transition: all 0.2s ease;
                        }
                    }
                }
            }
        }

        &:focus-visible {
            border-radius: 50px;
        }
    }

    .cardTravauxLienActive {
        width: 560px;
    }

    .cardTravauxLienNotActive {
        width: 350px;
        filter: grayscale(80%);
        transition: all 0.5s ease;

        &:hover {
            width: 560px;
            filter: grayscale(0%);
            transition: all 0.5s ease;
        }
    }

    .cardAccordeon {
        width: 90%;
        background-color: white;
        border-radius: 50px;
        transition: all 0.5s ease;

        .divOne, .divTwo {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 50px;
            padding: 50px;
        }

        .divOne {
            height: 150px;
        }

        .divTwo {
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 30px;
            padding-top: 20px;
        }

        border: 1px solid black;
        box-shadow: 2px 2px 0 2px rgba(0,0,0,1);
        -webkit-box-shadow: 2px 2px 0 2px rgba(0,0,0,1);
        -moz-box-shadow: 2px 2px 0 2px rgba(0,0,0,1);

        &:hover {
            cursor: pointer;
            transition: all 0.5s ease;

            .divOne {

                .lienAccordeon {
                    background-color: $secondary;

                    img {
                        transform: rotate(45deg);
                        transition: all 0.2s ease;
                    }
                }
            }
        }
    }

    .cardAccordeonNotActive {
        max-height: 150px;
        overflow-y: hidden;

        &:hover {
            max-height: 180px;
        }
    }

    .cardAccordeonActive {
        max-height: 800px;

        .divOne {

            .lienAccordeon {
                background-color: $secondary;

                img {
                    transform: rotate(45deg);
                }
            }
        }

        .divTwo {
            min-height: 150px;
        }
    }

    .input {
        width: 100%;
        height: 35px;
        padding-left: 15px;
        background-color: white;
        border-radius: 50px;

        border: 1px solid black;
        box-shadow: 1px 1px 0 1px rgba(0,0,0,1);
        -webkit-box-shadow: 1px 1px 0 1px rgba(0,0,0,1);
        -moz-box-shadow: 1px 1px 0 1px rgba(0,0,0,1);

        &:focus-visible {
            border-radius: 50px;
        }
    }


    h1 {
        color: white;
        text-shadow: -1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 3px 3px 0 #000;
        font-size: 56px;
        text-transform: uppercase;
    }

    h2 {
        color: white;
        text-shadow: -1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 3px 3px 0 #000;
        font-size: 42px;
    }

    h3 {
        color: white;
        text-shadow: -1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 3px 3px 0 #000;
        font-size: 32px;
    }

    h4 {
        color: white;
        text-shadow: -1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 3px 3px 0 #000;
        font-size: 24px;
        margin: 0;
    }

    // MENU
    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 50px;
        margin-bottom: 10px;

        border: 1px solid black;
        box-shadow: 2px 2px 0 2px rgba(0,0,0,1);
        -webkit-box-shadow: 2px 2px 0 2px rgba(0,0,0,1);
        -moz-box-shadow: 2px 2px 0 2px rgba(0,0,0,1);

        .cross {
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 5%;

            span {
                height: 40px;
                width: 40px;

                img {
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    transform: rotate(45deg);
                    transition: all 0.5s ease;
                }

                &:hover {
                    
                    img {
                        transform: rotate(0deg);
                        transition: all 0.5s ease;
                    }
                }
            }
        }

        .divOne {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .divTwo {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 20px;
        }
    }

    // HOME
    .accueil {
        height: 800px;
        width: 100%;
        background-image: url("../images/travaux/test.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    // A PROPOS
    .apropos {
        width: 100%;
        padding: 35px;

        .container {
            width: 100%;
            display: flex;
            flex-direction: column;

            .divInfos {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .profilTexte {
                    padding: 15px;
                    padding-top: 0;
                }
    
                .profilImg {
                    width: 100%;
                    max-width: 350px;
                    height: 350px;
                    border-radius: 50px;
    
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: 50px;

                        border: 1px solid black;
                        box-shadow: 2px 2px 0 2px rgba(0,0,0,1);
                        -webkit-box-shadow: 2px 2px 0 2px rgba(0,0,0,1);
                        -moz-box-shadow: 2px 2px 0 2px rgba(0,0,0,1);
                    }
                }
            }
        }
    }

    // TRAVAUX
    .travaux {
        width: 100%;
        padding: 35px;
        
        .container {
            width: 100%;

            .divFiltre {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 20px;

                div {

                    &:first-child {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 20px;
                        padding: 10px;
                    }

                    &:last-child {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        padding: 10px;
                    }
                }
            }

            .divCards {
                overflow-x: scroll;
                display: flex;
                padding: 10px;
                gap: 20px;

                --sb-track-color: $background;
                --sb-thumb-color: #000000;
                --sb-size: 5px;
            }
            
            .divCards::-webkit-scrollbar {
                width: 20px;
                height: var(--sb-size);
            }
            
            .divCards::-webkit-scrollbar-track {
                background: var(--sb-track-color);
                border-radius: 10px;
            }
            
            .divCards::-webkit-scrollbar-thumb {
                background: var(--sb-thumb-color);
                border-radius: 10px;
                
            }
            
            @supports not selector(::-webkit-scrollbar) {
                .divCards {
                scrollbar-color: var(--sb-thumb-color)
                                var(--sb-track-color);
                }
            }
        }
    }

    // COMPETENCES
    .competences {
        width: 100%;
        padding: 35px;
        
        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            
            h1 {
                text-align: start;
            }
            
            .divAccordeons {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
        }
    }

    .contact {
        width: 100%;
        padding: 35px;
        background-color: $primary;
        border-radius: 50px;
        padding-bottom: 200px;
        position: relative;
        
        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .divForm {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 20px;
                
                form {
                    width: 100%;

                    label {
                        font-size: 18px;
                        font-weight: 700;
                        padding-left: 15px;
                    }

                    input {
                        margin-top: 10px;
                        margin-bottom: 20px;
                    }

                    textarea {
                        margin-top: 10px;
                        min-height: 300px;
                    }
                }
            }
        }

        .contactLien {
            height: 300px;
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 35px;
            gap: 20px;
            background-color: white;
            border-radius: 50px;

            border: 1px solid black;
            box-shadow: 2px 2px 0 2px rgba(0,0,0,1);
            -webkit-box-shadow: 2px 2px 0 2px rgba(0,0,0,1);
            -moz-box-shadow: 2px 2px 0 2px rgba(0,0,0,1);

            position: absolute;
            bottom: -150px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
